<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Preparatorio Integrador Final</title>
</head>

<body>
    <div class="d-flex flex-column align-items-center full-height">
        <div class="row custom-width">
            <h1 class="display-5 mb-5 text-center text-shadow full-width">Examen Preparatorio Integrador Final</h1>
            <h2 th:if="${question == null}" class="text-center">Curso Backend con Java</h2>
        </div>

        <div class="row align-items-center custom-height">
            <div class="d-flex flex-column align-items-center custom-height-quote"
                th:if="${question == null and quote != null}">
                <div class="text-center">
                    <div class="fs-3 my-4 py-3">
                        <i><span class="custom-width" th:text="${'“' + quote.text + '”'}"></span></i>
                        <p class="fs-4 m-2" th:text="${quote.author}"></p>
                    </div>
                    <form th:action="@{/quiz}" method="get">
                        <div class="d-flex flex-column align-items-center">
                            <div>
                                <label class="fs-5 mx-1 my-4" for="questionNumber">Comenzar en pregunta número:</label>
                                <input class="number-input" type="number" value="1" name="questionNumber"
                                    min="1" th:attr="max = ${numberOfQuestions}">
                            </div>
                            <input class="btn btn-lg btn-outline-primary start-button my-3" type="submit" value="Comenzar">
                        </div>
                    </form>
                </div>
            </div>

            <div class="shadow rounded-4 p-4 qa-container" th:if="${question != null and check == null}">
                <h2 class="text-primary fs-4 mb-4"
                    th:text="${'Pregunta # ' + question.number + '/' + numberOfQuestions}"></h2>
                <h3 class="fs-3 my-4" th:text="${question.text}"></h3>

                <form th:action="@{/check}" method="post">
                    <div class="d-flex rounded align-items-center custom-hover"
                        th:each="option : ${question.answerOptions}">
                        <input class="form-check-input my-3 ms-2 me-3" type="radio" name="option" required
                            th:attr="id = ${'o' + option.optionNumber}" th:value="${option.optionNumber}">
                        <label class="fs-5 full-width" th:attr="for = ${'o' + option.optionNumber}"
                            th:text="${option.optionNumber + '. ' + option.answer}"></label>
                    </div>
                    <input type="hidden" name="questionNumber" th:value="${question.number}">
                    <input type="hidden" name="sessionId" th:value="${sessionId}">
                    <div class="d-flex align-items-end flex-column px-3">
                        <input class="btn btn-lg btn-outline-primary py-1 mt-3" type="submit" value="Responder">
                    </div>
                </form>
            </div>

            <div class="shadow rounded-4 p-4 qa-container" th:if="${question != null and check != null}">
                <h2 class="text-primary fs-4 mb-4"
                    th:text="${'Pregunta # ' + question.number + '/' + numberOfQuestions}"></h2>
                <h3 class="fs-3 my-4" th:text="${question.text}"></h3>

                <div>
                    <div th:each="option : ${question.answerOptions}">
                        <p th:attr="class ='fs-5 my-2 ms-3 me-3' + ${option.correct ? ' alert alert-success' : option.optionNumber == selected ? ' alert alert-danger' : ''} + ' p-1'"
                            th:text="${option.optionNumber + '. ' + option.answer}"></label>
                    </div>
                </div>

                <form th:action="@{/quiz}" method="post">
                    <input type="hidden" name="questionNumber" th:value="${question.number}">
                    <input type="hidden" name="sessionId" th:value="${sessionId}">
                    <div class="d-flex align-items-end flex-column px-3">
                        <input class="btn btn-lg btn-primary py-1 mt-3" type="submit" value="Siguiente">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>