<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Simulacro Integrador Final</title>
</head>

<body>
    <div>
        <h1>Simulacro Integrador Final</h1>

        <div th:if="${question == null}">
            <h2>Curso Backend con Java - Globant</h2>
            <form th:action="@{/quizz}" method="get">
                <input type="submit" value="Comenzar">
            </form>
        </div>

        <div th:if="${question != null and check == null}">
            <h2 th:text="${'Pregunta # ' + question.number}"></h2>
            <h3 th:text="${question.text}"></h3>

            <form th:action="@{/check}" method="post">
                <div th:each="option : ${question.answerOptions}">
                    <input type="radio" name="option" required th:attr="id = ${'o' + option.optionNumber}"
                        th:value="${option.optionNumber}">
                    <label th:attr="for = ${'o' + option.optionNumber}"
                        th:text="${option.optionNumber + '. ' + option.answer}"></label>
                </div>
                <input type="hidden" name="sessionId" th:value="${sessionId}">
                <input type="submit" value="Responder">
            </form>
        </div>

        <div th:if="${question != null and check != null}">
            <h2 th:text="${'Pregunta # ' + question.number}"></h2>
            <h3 th:text="${question.text}"></h3>

            <div>
                <div th:each="option : ${question.answerOptions}">
                    <p th:attr="class = ${option.correct ? 'text-success' : option.optionNumber == selected ? 'text-danger' : ''}"
                        th:text="${option.optionNumber + '. ' + option.answer}"></label>
                </div>
            </div>

            <form th:action="@{/quizz}" method="post">
                <input type="hidden" name="sessionId" th:value="${sessionId}">
                <input type="submit" value="Siguiente">
            </form>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>